body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
   
    
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: larger;
}
.a1{
    text-align: right;
    
}


footer { /* PIES */
    background-color: #F44A36;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.separador{ /* RAYA BLANCA */
    border: 0;
    height: 0.5px;
    background-color: white;
    margin: 5px 0;

}
.titulos1{
    text-align: center;
    color: white;   
}

.container-img  {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    
   
}

.container-img .titulo2{

    text-align: center; 
    color: white;
    
     

}
a, a:hover{ /* QUITAR COLOR Y OTRA COSA */
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: larger;
}


